/* StudentWorkspace.css */

.workspace_first {
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 30px;
}
ul {
    list-style-type: none;
}

.card {
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
    width: 40%;
    background-color: rgb(214, 206, 206);
    border: 1px solid #ccc; 
}

.classcard {
    background-color: #f0f0f0; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    transition: all 0.3s ease; 
}

.classcard:hover {
    transform: translateY(-4px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.classcard a {
    text-decoration: none; 
}

.classcard h3 {
    color: #333; 
    font-size: 1.2rem; 
    margin-bottom: 8px; 
}

.classcard p {
    color: #666; 
}

.card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #4c51bf;
    color: #fff;
}

.btn-primary:hover {
    background-color: #434190;
}

.grid {
    display: flex;
    justify-content: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog {
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 320px; 
    width: 100%; 
    padding: 20px; 
    position: relative;
}

.dialog label {
    font-weight: 600; 
    margin-bottom: 8px; 
    display: block; 
}

.dialog input {
    width: 100%; 
    padding: 8px; 
    border-radius: 4px; 
    border: 1px solid #ccc; 
}

.dialog p {
    color: #ff0000; 
    margin-top: 8px; 
}

.dialog button {
    background-color: #4c51bf; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.dialog button:hover {
    background-color: #434190; 
}

/* StudentWorkspace.css */
