/* Detailpost.css */

.detail-post-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0 40px;
}
.post-details {
    margin: 2px;
    background: rgb(205, 201, 201);
    border-radius: 10px;
    padding: 10px;
}
.post-details h1 {
    
    padding: 10px;
    margin-bottom: 20px;
}


.comment-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(218, 215, 215);
    border-radius: 20px;
}

.comment-form {
    /* background: #000; */
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.submit-form {
    margin: auto;
    width: 70%;
  
}
.submit-form input {
    width: 70%;
    height: 25px;
    padding: 5px;
    border-radius: 2px;

    border: none;
    outline: none;
}
.submit-form button {
    width: 20%;
    
}
.submit-button {
    /* width: 5%; */
    background: white;
}
.submit-button button {
    background: transparent;
    border: none;

}
.comment-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment button {
    margin-top: 5px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.comment {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f5f6f7;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
}

.comment p {
    margin: 5px 0;
}

.cmnt-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 3px;
    margin: 2px;
    transition: background-color 0.3s ease;}

/* .comment button:hover {
    background-color: #cc0000;
} */



.assignment-item{
    background-color: #dedcdc;
    margin: 4px;
    border: 2px black solid;
    border-radius: 10px;
    padding: 2px;
}

.newdiv{
    display: flex;
    justify-content: space-between;
}
.late-submission-message{
    background-color: red;
    border: 1px black solid;
    border-radius: 5px;
    padding: 2px;
}